.box-btn {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    outline: none;
    cursor: pointer;
    font-size: 25px;
    background-color: rgba(109, 109, 110, 0.5);
    border: rgba(255, 255, 255, 0);
    border-radius: 50px;
}

.twitter {
    padding: 10px;
    color: #00acee;
}

.next {
    padding: 10px;
    color: white;
    transition: transform 0.1s;
}

button:hover {
    transform: scale(1.3);
    filter: brightness(120%);
}
.twitter:active {
    transform: scale(1);
}
/* melhorar a animação */
.next:active {
    transform: rotate(-180deg);
    transition: transform 0.2s;
}
